@import url('https://fonts.google.com/specimen/Mukta');

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-size: 16px;
}

li,
a,
button {
  font-family: 'Mukta', sans-serif;
  font-weight: 500;
  font-size: 100%;
}

body {
  font-size: 100%;
}

h1,
h2,
h3 {
  margin-top: 0px;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}
