.button {
  display: block;
  line-height: 1.875rem;
  text-align: center;
  border-radius: 0.625rem;
  font-weight: bold;

  -moz-transition: all 0.2 ease-in;
  -o-transition: all 0.2 ease-in;
  -webkit-transition: all 0.2 ease-in;
  transition: all 0.2 ease-in;

  &:hover {
    -moz-transition: all 0.2 ease-in;
    -o-transition: all 0.2 ease-in;
    -webkit-transition: all 0.2 ease-in;
    transition: all 0.2 ease-in;
    background: #f05102;
  }
}
