nav {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: space-between;
  align-items: center;

  background: #ffffff;
  height: 2.8125rem;
  border-bottom: 0.03125rem solid #c1bcbc;

  .list {
    display: flex;
    width: 35%;
    margin-right: 5%;
    border: 1px solid black;
    align-items: center;

    &_item {
      width: 25%;
      margin-left: 0.5rem;
      margin-right: 0.5rem;
    }
  }
}
