nav {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: space-between;
  align-items: center;

  background: #ffffff;
  height: 2.8125rem;
  border-bottom: 0.03125rem solid #c1bcbc;

  .list {
    display: flex;
    width: 35%;
    margin-right: 5%;
    border: 1px solid black;

    justify-content: flex-end;
    align-items: center;

    &_item {
      margin-right: 1rem;
      width: 20%;
      text-align: center;
    }
  }
}
